.detail-cast {
	min-height: 100vh;
}

.detail-cast__header {
	display: flex;
	align-items: center;
	height: 120px;
	color: white;
}

.detail-cast__header-bg {
	width: 58px;
	height: 87px;
	background-size: cover;
	margin-right: 1rem;
}

.detail-cast__header-info {
	display: flex;
	align-items: center;
}

.detail-cast__header-info > a {
	color: white;
}

.detail-cast__header-info > a:hover {
	color: var(--link-hover);
}

.detail-cast__header-info > span {
	font-size: 2rem;
	margin-left: 0.5rem;
	font-weight: 200;
}

.detail-cast__content {
	text-align: left;
	color: white;
}

.detail-cast__content .heading {
	padding: 1rem 0;
}

.detail-cast__content-item {
	display: flex;
	align-items: center;
	color: white;
	margin-bottom: 1rem;
}

.detail-cast__content-item-img {
	width: 66px;
	height: 66px;
	margin-right: 1rem;
}

.detail-cast__content-item-img img {
	width: inherit;
}