.detail-hero {
	position: relative;
	height: 500px;
	background-size: cover;
}

.detail-hero__mask {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #00000066;
}

.detail-hero .wrapper {
	display: flex;
	align-items: center;
}

.detail-hero__img {
	border-radius: 10px;
    overflow: hidden;
}

.detail-hero__img img {
	width: 100%;
}

.detail-right {
	color: white;
	text-align: left;
}

.detail-hero__title {
	display: flex;
	align-items: center;
}

.detail-hero__title > span {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.5rem;
	font-weight: 200;	
}

.detail-actions {
	display: flex;
	align-items: center;
}

.detail-actions__rating {
	display: flex;
	align-items: center;
	margin-right: 1rem;
}

.detail-actions__rating-left i {
	font-size: 1.5rem;
    margin-right: 0.5rem;
    color: #f5c518;
}

.detail-actions__rating-right .rating-bottom {
	font-size: 13px;
    line-height: 0.5;
    color: #d1cfcf;
}


.detail-actions__tooltip {
	display: flex;
}

.actions__tooltip-item {
	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
	width: 46px;
    height: 46px;
    background-color: black;
    border-radius: 50%;
    margin-right: 1rem;
    transition: 0.3s;
    cursor: pointer;
}

.actions__tooltip-item:hover {
	background-color: var(--primary-color);
}

.actions__tooltip-item-decs {
    position: absolute;
    top: calc(100% + 10px);
    text-align: center;
    min-width: 90px;
    background-color: var(--primary-color);
    display: none;
    z-index: 2;
    border-radius: 5px;
}

.actions__tooltip-item-decs:before {
	content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--primary-color);
    transform: rotate(45deg) translate(-50%);
    top: 3px;
    left: 50%;
    z-index: 1;
}

.actions__tooltip-item-decs p {
	position: relative;
	margin: 0;
	z-index: 2;
}

.actions__tooltip-item:hover .actions__tooltip-item-decs {
	display: block;
}

.detail-overview {
	margin-top: 1rem;
}

.detail-people__list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin-top: 1rem;
}

.detail-people__item > a {
	color: white;
	font-weight: bold;
}

.detail-people__item > a:hover {
	color: #d7d7d7;
}

.detail-people__item > p { 
	color: #d9d3d3;
}